html {
  overflow-y: scroll;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  overflow-x: visible;
}

.box {
  width: 100%;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.slideshow-box {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  background-color: #1d1d1f;
}

.slideshow-container {
  display: flex;
  height: 100%;
  width: 250%;
}
.slideshow {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}
.slideshow-dummy {
  height: 100%;
  width: 50%;
  overflow-y: hidden;
}

.animate {
  animation: slideshow 4s ease-in-out;
  /* animation-delay: 2s; */
  animation-play-state: running;
}

.slideshow img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.slide-bar {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7; */
  padding: 0 10%;
  top: 40%;
  z-index: 1;
  width: 100%;
  height: 20%;
  background-color: rgba(29, 29, 31, 0.5);
}

.slide-bar h1 {
  color: #fff;
  font-size: 4vw;
}

@keyframes slideshow {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(-150%);
    opacity: 1;
  }
}

.box1 {
  width: 100%;
  min-height: 75vh;
  height: fit-content;
  background-color: #d7d7d7;
}

.floater {
  display: flex;
  z-index: 5;
  width: 90%;
  height: 7.5vh;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 10px;
  /* position: relative;
    top: -55%; */
  transform: translateY(-50%);
}

.tab {
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  /* border: 1px solid black; */
}

.inner {
  width: 200%;
  height: 100%;
  transform: translateX(-25%);
  display: flex;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: white;
}

.content {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 25%;
  display: flex;
}

.circle {
  width: 3vw;
  height: 3vw;
  /* background-color: green; */
  margin: auto 1%;
  border-radius: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.circle svg {
  width: 100%;
  height: auto;
}

.sls-1 {
  fill: none;
  stroke: #1d1d1f;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 25px;
}

.sls-2 {
  fill: none;
  stroke: #1d1d1f;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.sls-1 {
  transition: all 0.5s ease-in-out;
}
.sls-2 {
  transition: all 0.5s ease-in-out;
}
.sls-3 {
  transition: all 0.5s ease-in-out;
}
.sls-4 {
  transition: all 0.5s ease-in-out;
}
.sls-5 {
  transition: all 0.5s ease-in-out;
}
.sls-6 {
  transition: all 0.5s ease-in-out;
}

.tab:hover .sls-1 {
  stroke: #fff;
}

.active .sls-1 {
  stroke: #fff;
}

.tab:hover .sls-2 {
  stroke: #fff;
}

.active .sls-2 {
  stroke: #fff;
}

.tab:hover .sls-3 {
  stroke: #fff;
  fill: #fff;
}

.active .sls-3 {
  stroke: #fff;
  fill: #fff;
}

.tab:hover .sls-4 {
  stroke: #fff;
  fill: #fff;
}

.active .sls-4 {
  stroke: #fff;
  fill: #fff;
}

.tab:hover .sls-5 {
  stroke: #fff;
  fill: #fff;
}

.active .sls-5 {
  stroke: #fff;
  fill: #fff;
}

.tab:hover .sls-6 {
  stroke: #fff;
  fill: #fff;
}

.active .sls-6 {
  stroke: #fff;
  fill: #fff;
}

.content h2 {
  margin: auto 0.5%;
  white-space: wrap;
  color: black;
  font-size: 1vw;
  transition: all 0.5s ease-in-out;
}

.tabs {
  z-index: 1;
  width: 51%;
  height: 100%;
  background-color: #006600;
  transition: all 0.5s ease-in-out;
}

.tab:hover .one {
  background-color: #0c61ab;
  transform: translateX(98.5%);
}

.tab:hover .two {
  background-color: #0c61ab;
  transform: translateX(-98.5%);
}

.active .one {
  transform: translateX(98.5%);
}

.active .two {
  transform: translateX(-98.5%);
}

.tab:hover .content h2 {
  color: white;
}

.active .content h2 {
  color: white;
}

.services {
  position: relative;
  top: 0%;
  width: 80%;
  height: fit-content;
  overflow-x: hidden;
  overflow-y: hidden;
  /* border: 3px solid green; */
  border-radius: 10px;
  margin: 0 auto;
}

.service-container {
  display: flex;
  height: 25%;
  width: 300%;
  /* border: 3px solid black; */
  border-radius: 10px;
  overflow-y: hidden;
  margin: 0 auto;
}

.service {
  width: 33%;
  min-height: 300px;
  height: fit-content;
  border-radius: 10px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  padding: 1%;
  overflow-y: hidden;
  /* border: 3px solid black; */
}

.service img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: auto;
  filter: brightness(50%);
}

.animation {
  animation: animation 3s ease-in-out;
}

@keyframes animation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-202%);
  }
}

.service-content {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 10;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service h1 {
  margin: 0;
  z-index: 10;
  color: #fff;
}

.service p {
  font-size: 1.25vw;
  text-align: center;
  z-index: 10;
  color: #fff;
}

.footer {
  display: block;
  width: 100%;
  height: 47.5%;
  padding-top: 2.5%;
  /* border-top: 2px solid #1d1d1f; */
  background-color: #d7d7d7;
}

.vsections {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 75%;
  height: 90%;
  margin: 0 auto;
}

.vsection {
  display: flex;
  height: 100%;
  width: 24%;
  padding: 2% 1%;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
}

.vsection:first-child {
  display: block;
}

.line {
  width: 3px;
  border-radius: 10px;
  margin-right: 2.5%;
  background-color: #1d1d1f;
}

.vsection img {
  width: 80%;
  height: auto;
  margin: 2.5% 0;
}

.vsections .vsection p {
  color: #1d1d1f;
  height: 40%;
  font-weight: 600;
  margin: 0;
  font-size: 0.8vw;
}

.vsections .vsection:first-child p {
  color: #1d1d1f;
  height: 40%;
  font-weight: bolder;
  margin-bottom: 0;
  font-size: 1vw;
}

.footer-icons {
  display: flex;
  margin-top: 15%;
  width: 100%;
  height: 10%;
}

.footer-icons a {
  cursor: pointer;
  margin-right: 10%;
  width: fit-content;
  height: 80%;
}

.footer-icons a svg {
  height: 7.5vh;
  width: auto;
}

.fls-1 {
  transition: 0.5s ease-in-out;
}

.fls-2 {
  transition: 0.5s ease-in-out;
}

.footer-icons a:hover .fls-1 {
  fill: #4267b2;
}

.footer-icons a:hover .fls-2 {
  fill: #fff;
}

.lls-1 {
  transition: 0.5s ease-in-out;
}

.lls-2 {
  transition: 0.5s ease-in-out;
}

.footer-icons a:hover .lls-1 {
  fill: #0077b5;
}

.footer-icons a:hover .lls-2 {
  fill: #fff;
}

.yls-1 {
  transition: 0.5s ease-in-out;
}

.yls-2 {
  transition: 0.5s ease-in-out;
}

.footer-icons a:hover .yls-1 {
  fill: #ff0000;
}

.footer-icons a:hover .yls-2 {
  fill: #fff;
}

.bottom-tag {
  width: 100%;
  height: 2.5%;
  background-color: #006600;
}

.bottom-tag {
  width: 100%;
  height: 2.5%;
  background-color: #006600;
}

.TM {
  width: 20%;
  height: 100%;
  margin: auto;
  color: #fff;
  font-size: 0.8vw;
}
