body{
    margin: 0;
    padding: 0;
    /* display: flex; */
    overflow: hidden;
}

.main-slider{
    position: relative;
    display: flex;
    width: 400%;
    height: 100%;
    overflow-x: hidden;
    background-color: #fff;
}

.slider{
    display: flex;
    width: 100%;
    height: 45%;
    margin-bottom: 1.25%;
    background-color: #d7d7d7;
    color: #d7d7d7;
    font-size: 2vw  ;
}

.one{
    animation: slide 15s infinite linear;
}

.two{
    animation: slide1 15s infinite linear;
}

.slide{
    width: 20%;
    height: 100%;
    margin: 0 1.25%;
    background-color: #1d1d1f;
}

@keyframes slide{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}


@keyframes slide1{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}