body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

.header{
    display: flex;
    height: 8vh;
    width: 100%;
    z-index: 1;
    background-color: #fff;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid #1d1d1f;
  }

.logo-box{
    display: flex;
    justify-content: center; 
    align-items: center;
    flex: 15%;
    height: 100%;
    border-right: 1px solid #1d1d1f;
}

.logo-box img{
    width: 90%;
    height: auto;
    margin: 1%;
}

.main-box{
    flex: 85%;
    height: 100%;
    width: 80%;
    margin: 0;
}

.top-box{
    position: relative;
    width: 100%;
    height: 40%;
    background-color: #006600;
}

.motto{
    display: inline-block;
    position: absolute;
    top: 25%;
    padding-left: 1%;
    font-weight: 1000;
    font-size: 12px;
    color: white;
}

.SM-icons{
    display: inline-block;
    position: absolute;
    height: 90%;
    width: 15%;
    top: 1;
    right: 15%;
}

.SM-icons a{
    cursor: pointer;
}

.cls-1{
    transition: 0.5s ease-in-out;
}
.cls-2{
    transition: 0.5s ease-in-out;
}

.SM-icons a:hover .cls-1{
    fill: #006600;
}

.SM-icons a:hover .cls-2{
    fill: #ffffff;
}

.SM-icons svg{
    margin-left: 10%;
    height: 100%;
    width: auto;
}

.email{
    position: absolute;
    right: 0;
    height: 100%;
    width: 17.5%;
}

.email svg{
    display: inline;
    position: relative;
    height: 75%;
    width: auto;
    top: 10%;
    margin-left: 2.5%;
}

.email a{
    cursor: pointer;
    display: inline;
    position: absolute;
    top: 5;
    padding-left: 2.5%;
    font-weight: 1000;
    font-size: 12px;
    color: white;
}

.bottom-box{
    display: flex;
    width: 100%;
    height: 60%;
}

.menu-box{
    display: flex;
    flex: 82.5%;
}

.links {
    display: flex; 
    position: relative;
    width: 100%;
    margin: auto 0;
    font-size: 20px;
    font-weight: 1000;
}

.link-wrapper {
    margin-left: 25;
    margin-right: 25;
    position: relative; 
}

.link-wrapper a {
    cursor: pointer;
    color: black; 
    text-decoration: none;
    color: black; 
    text-decoration: none; 
    transition: 0.3s ease;
}

.link-wrapper a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px; 
    width: 0; 
    height: 3px; 
    transition: 0.3s ease; 
}

.link-wrapper a:hover{
    color: #006600;
}

.link-wrapper a:hover::after {
    background-color: #006600;
    width: 100%; 
}

.call-box{
    display: flex;
    flex: 17.5%;
    border-left: 1px solid #1d1d1f;
}

.call-box svg{
    margin: auto 4%;
    width: auto;
    height: 90%;
}

.call-box svg circle{
    transition: 0.25s ease-in-out;
}

.call-box svg path{
    transition: 0.25s ease-in-out;
}

.call-box:hover circle{
    fill: white;
}

.call-box:hover #p1{
    fill: white;
    stroke: #006600;
}

.call-box:hover #p2{
    fill: white;
    stroke: #006600;
}

.call-box:hover #p3{
    fill: #006600;
    stroke: #006600;
}

.call-box:hover #p4{
    fill: white;
    stroke: #006600;
}

.call-box:hover #p5,
.call-box:hover #p6,
.call-box:hover #p7
{
    fill: #006600;
    stroke: #006600;
}

.call{
    width: 80%;
}

.call p{
    
    font-size: 14px;
    font-weight: 1000;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5%;
}

.call a{
    cursor: pointer;
    font-size: 20px;
    font-weight: 1000;
    margin-left: 5%;
    transition: color 0.25s ease-in-out;
}

.call a:hover{
    color: #006600;
}

.box{
    width: 100%;
    height: 900px;
}

* {box-sizing:border-box}

.slideshow-container {
  max-width: 100%;
  max-height: 1000px;
  position: relative;
  margin: auto;
}

.mySlides img{
    max-height: 900px;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 47.5%;
  width: 55px;
  height: 55px;
  margin-top: -22px;
  padding: 2px 10px;
  color: white;
  font-weight: 1000;
  font-size: 28px; 
  transition: 0.6s ease;
  border: 3px solid #fff;
  border-radius: 50%;
  user-select: none;
}

.next {
  right: 10%;
  border-radius: 50%;
}

.prev {
    left: 10%;
    border-radius: 50%;
  }

.prev:hover, .next:hover {
  background-color: #1d1d1f;
}

.text {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 80px;
  font-weight: 1000;
  padding: 8px 12px;
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.abouts{
    position: absolute;
    
}

.about{
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 90%;
}

.pics{
    position: relative;
    top: 2.5%;
    left: 2.5%;
    width: 80%;
    height: 95%;
    margin-right: 5%;
}

.pic{
    width: 47.5%;
    height: 100%;
    border-radius: 10px;
    background-color: white;
}

.unfocus{
    display: flex;
    justify-content: space-between;
    left: 0;
    height: 30%;
    width: 100%;
}
.focus{
    position: relative;
    width: 100%;
    height: 70%;
}


.about .text{
    position: relative;
    width: 100%;
    max-width: 750px;
    padding: 1% 4%;
    text-align: justify;
    height: 100%;
    top: 0;
    color: #1d1d1f;
}

.about .text h6{
    cursor: default;
    font-size: 20px;
}
.about .text h6::after{
    content: "";
    position: absolute;
    top: 11%;
    left: 8%;
    bottom: -1px; 
    width: 15%; 
    height: 3px; 
    border-radius: 5px;
    background-color: #1d1d1f; 
    transition: 0.3s ease; 
}


.about .text p{
    cursor: default;
    font-size: 20px;
}

.services{
    width: 100%;
    height: 60%;
}

.services h6{
    font-size: 40px;
    cursor: default;
    margin: 2% auto;
    padding-left: 10%;
}

.services h6::after{
    display: block;
    content: "";
    position: relative;
    width: 40%; 
    height: 3px; 
    border-radius: 5px;
    background-color: #1d1d1f; 
}

.container{
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 70%;
    margin: 0 auto;
}

.service{
    width: 17.5%;
    height: 100%;
}

.service .image{
    position: relative;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    z-index: 1;
    background-color: #d7d7d7;
}

.ser{
    position: relative;
    width: 100%;
    height: 90%;
    transform: translateY(-17%);
    background-color: #d7d7d7;
    border-radius: 5%;
}

.reviews{
    width: 100%;
    height: 40%;
    overflow: hidden;
}

.reviews .image{
    position: relative;
    margin: 0 0 0 10%;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    z-index: 1;
    background-color: #d7d7d7;
}

.reviews .text{
    position: relative;
    top: 0;
    width: 100%;
    height: 85%;
    transform: translateY(-20%);
    background-color: #1d1d1f;
}

.footer{
    width: 100%;
    height: 47.5%;
    background-color: #d7d7d7;
}

.bottom-tag{
    width: 100%;
    height: 2.5%;
    background-color: #006600;
}

